.site-title{
  font-family: 'Chivo', sans-serif;
  display: inline-flex;
  padding-bottom: 8px;
  -webkit-text-fill-color: #000000; 
}

.app-container{
  margin: 0px auto 0 auto;
  max-width: 100%;
}

.app-container *{
  box-sizing: content-box !important;

}

.container{
  margin: 60px auto 0 auto;
  max-width: 1100px;
}

.container *{
  box-sizing: content-box !important;
}

.pic{
  position: absolute;
  width: 390px;
  height: 500px;
  padding-left: 90px;
}

.gradPic{
  position: absolute;
  width: 400px;
  height: 400px;
  padding-left: 90px;
}

.dot {
  height: 400px;
  width: 400px;
  position: relative;
  /* opacity: .25; */
  background-color: #bbb;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 250px;
  display: inline-block;
}

.project-card{
  top: 20px;
}

.hr{

  /* padding-top: px; */
}


.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.title-text {
  opacity: .8;
  /* width: 75%; */
  height: 50px;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 1em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}


.banner-text {
  opacity: .8;
  height: 300px;
  margin: auto;
  border-radius: 10px;
  padding-top: 8em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.banner-text h1 {
  font-size: 100px;
  font-weight: bold;

  text-align: center;
  font-family: 'Chivo', sans-serif;
}


.banner-text hr {
  border-top: .1mm ridge rgb(11, 4, 31);
  width: 30%;
  margin: auto;
}

.banner-text p {
  text-align: center;
  color: black;
  font-family: 'Chivo', sans-serif;
  font-size: 15px;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
}

.contact-form {
  padding: 18px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  /* -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important; */

}

/* *:not(.contact-form){
  box-sizing: border-box;
} */


.social-links{
  display: flex;
  width: 20%;
  /* margin: auto; */
  text-align: left;

}

.social-links i{
  color: #FFD700;
  font-size: 3em;
  padding: 4px;
}

/***/

.nav {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 75px;
  z-index: 1000;
  display: inline-block !important;
  /* background: white; */
  background: linear-gradient(90deg, #FFD700 50%, #fff 50%);
  /* box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15); */
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav-content {
  max-width: 1100px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}

.nav-content *{
  box-sizing: content-box !important;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #808080;
  font-family: 'Chivo';
  text-decoration: none;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.nav-item:active {
  text-decoration: bold;
}

.about-me{
  justify-content: center;
  /* width: 43%; */
}

.left-half{
  width: 50%;
  float: left;
  display: flex;
}

.right-half{
  /* display: flex; */
  padding-left: 530px;
  width: 50%;
  font-family: 'Chivo', 'sans-serif';
  margin-top: none !important;
}

.right-half *{
  box-sizing: content-box !important;
}
 
.right-half h3{
  margin-top: none;
}

.right-half p{
  margin-top: none;
}



/** SECTIONS **/ 
.home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #FFD700 50%, #fff 50%);
  /* background: white; */
}


.about-section{
  justify-content: center;
  padding-top: 0em;
  height: 80vh;
  background: white;
  
   /* #a8c0ff;  fallback for old browsers */
}

.about-section *{
  box-sizing: content-box !important;
}

.project-section{
  height: 90vh;
  background: white;
  flex-grow: 1;
}

.contact-section{
  height: 80vh;
  background: white; 
}


/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

