
.site-title{
  font-family: 'Chivo', sans-serif;
  display: inline-flex;
  padding-bottom: 8px;
  -webkit-text-fill-color: #000000; 
}

.project-card{
  top: 20px;
}

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  padding-top: 13em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  -webkit-text-fill-color: #a8c0ff; 
  text-align: center;
  font-family: 'Chivo', sans-serif;
}


.banner-text hr {
  border-top: 4mm ridge rgb(11, 4, 31);
  width: 50%;
  margin: auto;
}

.banner-text p {
  text-align: center;
  color: black;
  font-family: 'Chivo', sans-serif;
  font-size: 18px;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  
}

.pic{
  width: 400px;
  height: 400px;
  padding-left: 200px;
  padding-top: 100px;
}


.social-links{
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin: auto;
  text-align: center;

}

.social-links i{
  color: white;
  font-size: 5em;
  padding: 8px;

}

/***/

.nav {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 50px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  background: white;
 
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}

.nav-item {
  display: inline;
  margin-left: 2rem;
  -webkit-text-fill-color: grey;
  font-family: 'Chivo'
  
  
}

.nav-item:hover {
  color: black;
  cursor: pointer;
  text-decoration-color: #3f2b96;
}

.navbar > .active {
  border-bottom: 1px solid white;
}

.about-me{
  justify-content: center;
  width: 43%;
}


/** SECTIONS **/ 
.home {
  height: 95vh;
  background: white;
  /* background: #a8c0ff; 
  background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  
  background: linear-gradient(to right, #3f2b96, #a8c0ff);  */
 

}


.about-section{
  justify-content: center;
  padding-top: 0em;
  height: 100vh;
  background: white;
   /* #a8c0ff;  fallback for old browsers */
  
}

.project-section{
  height: 90vh;
  background: white;
  
}

.contact-section{
  height: 100vh;
  background: white; 

}


.banner-text h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  max-width: 70%;
  max-height: 10%;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .02em; /* Adjust as needed */
  color: white;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}










